/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/vivi Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params
params {
    // Input options
    samplesheet = "${projectDir}/samplesheet.csv"

    // Output directory
    outdir = 'results'
}

process {
    withName: 'TRUST4' {
        container = 'quay.io/biocontainers/trust4:1.0.13--h43eeafb_0'
    }
}

docker {
    enabled = true
}